body{
	background-color:black;
}
h1 {
	text-align:center;
	color:green;
	border-width:1px;
	style:italic;
}
textarea {
	border:5px solid grey;
	height:70%;
	width:48%;
	text-align:left;
	font-size:auto;
	font-style:italic;
	margin-top:5%;
	color:green;
	background-color:black;
}
input {
	border:1px solid black;
	height:30px;
	height:30px;
	width:12%;
	align:leftwards;
}
button {
	border:1px solid black;
	color:red;
	background-color:skyblue;
	text-color:black;
	width:auto;
	height:30px;
	position:relative;
	border-radius:2%;
}

select {
	border:1px solid black;
	width:auto;
	height:30px;
}